body {
 
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #b8dae3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: rgb(170, 143, 143);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  margin: 0 auto;
  min-width: 980px;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favButton{
  background-color: rgba(118, 94, 94, 0.116);
  color: rgb(211, 183, 183);
  border: none;
  cursor: pointer;
}

h1{
  text-align: center;
}


nav{
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
}

a{
  color: rgb(211, 183, 183);
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 


.nav-content {
  display:block;
  background-color:#333;
  box-shadow: 0px 1px 20px #444;
  overflow:auto;
}
.nav-logo {
  float:left;
}

.menu{
  float:right;
 
}

.menuitems {
  color:#fff;
  float: left;
 
}



footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
}

footer > img{
  width: 200px;
  margin: 0;
  padding-right: 60%;
  float: left;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
}


footer img.redes{
  float:right;
  width: 25px;
  height: 25px;
  padding: 6px;
  object-fit: cover;
 
}


form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 auto;
}

.box{
  position: relative;
  min-width: 250px;
  background-color: #fff;
  box-shadow: 2px 3px 30px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px;
  position: relative;
  border-radius: 10px;
}

.top-bar{
  width: 50%;
  height: 4px;
  background: #507bfc;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 10px 10px;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content img{
  width: 90px;
  height: 90px;
  border-radius:100px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}

.content strong{
  font-weight: 500;
  color: #141414;
  margin-top: 10px;
}
.content p{
  font-size: 0.9rem;
  color: #7a7a7a;
  margin: 4px 0px 10px 0px;
  cursor: pointer;
}
.content p:hover{
  text-decoration: underline;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



.btn {
  border: none;
  padding: 10px 30px;
  border-radius: 4px;
  margin-top: 20px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s all linear;
}

.light{
  background: #b8dae3;
}
.btn-light {
  background-color: #222;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.dark{
  background-color: #222;
}

.btn-dark {
  background-color: #fff;
  color: #222;

}